{% extends "base.html" %}

{% block title %}Recipe Box{% endblock %}

{% block content %}
    <h1>Welcome to the Django Recipe Box!</h1>
    
    <h2>Here is a list of all the current recipes:</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe' recipe.id %}">
                    {{ recipe }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Here is a list of all the chefs we have recipes for in our box:</h2>
    <ul>
        {% for author in authors %}
            <li>
                <a href="{% url 'author' author.id %}">
                    {{ author.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}