{% extends "base.html" %}

{% block title %}Recipe Info{% endblock %}

{% block content %}
    <h1>{{recipe.title}}</h1>
    <p><strong>Author: </strong>{{recipe.author}}</p>
    <p><strong>Website: </strong>{{recipe.website}}</p>
    <p><strong>Time required: </strong>{{recipe.time_required}}</p>
    <h3>Description:</h3>
    <p>{{recipe.description}}</p>
    <h3>Ingredients:</h3>
    <p>{{recipe.ingredients}}</p>
    <h3>Instructions:</h3>
    <p>{{recipe.instructions}}</p>


    <a href="{% url 'home' %}">Back Home</a>
    
{% endblock %}

<!-- <ul>>{{recipe.ingredients}}</ul> -->